<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>게시판 -게시물 상세 페이지</title>
  </head>
  <link rel="stylesheet" href="/static/css/board.css" />
  <body>
    <h1>상세 페이지</h1>

    <ul class="detail__list">
      <dl>
        <dt>ID :</dt>
        <dd th:text="${article.id}"></dd>
      </dl>
      <dl>
        <dt>생성시간 :</dt>
        <dd th:text="${article.regDate}"></dd>
      </dl>
      <dl>
        <dt>제목 :</dt>
        <dd th:text="${article.title}"></dd>
      </dl>
      <dl>
        <dt>내용 :</dt>
        <dd th:text="${article.body}"></dd>
      </dl>
    </ul>

    <div class="detail__btn__wrap">
      <a href="list">게시물 리스트</a>
      <a href="add">게시물 추가</a>
      <a href="./modify?id=${article.id}">게시물 수정</a>
      <a href="./doDelete?id=${article.id}">게시물 삭제</a>
    </div>
  </body>
</html>
