<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>게시판 -게시물 상세 페이지</title>
  </head>
  <link rel="stylesheet" href="/static/css/board.css" />
  <body>
    <h1 id="test">상세 페이지</h1>

    <div class="detail__btn__wrap">
      <a href="list">게시물 리스트</a>
      <a href="add">게시물 추가</a>
      <a th:href="@{./modify(id=${article.id})}">게시물 수정</a>
      <a
        onclick="if( confirm('삭제하시겠습니까?') == false ) return false;"
        th:href="@{./doDelete(id=${article.id})}"
        >게시물 삭제</a
      >
    </div>

    <div class="detail__body">
      <h2 class="detail__title" th:text="${article.title}"></h2>
      <div class="detail__body__inner"></div>

      <div class="comment__wrap">
        <h4><span>6개의 댓글</span></h4>
        <form action="">
          <div class="input__box">
            <textarea
              name=""
              id="input__comment"
              placeholder="댓글을 작성해보세요"
            ></textarea>
            <input type="submit" value="댓글 작성" />
          </div>
        </form>
      </div>
    </div>
  </body>
  <script th:inline="javascript">
    const detailBody = document.getElementsByClassName("detail__body__inner");

    detailBody[0].innerHTML = [[${article}]].body
  </script>
</html>
