<!DOCTYPE html>
<html
  lagn="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>
  <nav th:replace="fragments/navbar :: navbarFragment"></nav>

  <div layout:fragment="content"></div>

  <!-- <footer th:replace="fragments/footer :: footerFragment"></footer> -->
</html>
