* {
  margin: 0;
  padding: 0;
}
body {
  width: 90%;
  margin: 0 auto;
}

h1 {
  margin: 36px 0;
}

h2 {
  margin-bottom: 26px;
}

ul,
dl {
  list-style: none;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.board .board__list {
  width: 45%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 6px;
  margin-bottom: 26px;
  background-color: rgb(245, 245, 245);
  box-shadow: 0 10px 20px rgb(0 0 0 / 6%), 0 6px 6px rgb(0 0 0 / 12%);
  -webkit-transition: all 0.05s linear 0s;
}
.board .board__list > a {
  display: block;
  text-decoration: none;
  color: #333;
  -webkit-transition: all 0.05s linear 0s;
}
.board .board__list:hover {
  background-color: rgb(33, 93, 221);
  -webkit-transform: translateY(-6px);
}
.board .board__list:hover > a {
  color: white;
}

.board .board__list dl {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.add__list__wrap {
  width: 100%;
}

.add__list__wrap dl {
  width: 100%;
}

.add__list__wrap dl dt {
  margin-bottom: 20px;
  font-size: 20px;
}

.add__list__wrap dl:nth-of-type(2) dt {
  margin: 20px 0;
}

.add__list__wrap dl dd input,
.add__list__wrap dl dd textarea {
  width: 100%;
  outline: none;
  border: 1px solid #aaa;
  box-sizing: border-box;
  padding: 0 20px;
}

.add__list__wrap dl dd input {
  height: 50px;
}
.add__list__wrap dl dd textarea {
  height: 150px;
  padding: 20px;
}

.list__button__wrap {
  margin: 50px 0;
  display: flex;
  justify-content: flex-end;
}

.list__button__wrap li:nth-of-type(1) {
  margin-right: 20px;
}
.list__button__wrap li:nth-of-type(1) input {
}

.list__button__wrap li input,
.add__link,
.detail__btn__wrap a {
  display: inline-block;
  width: 100px;
  height: 60px;
  border: none;
  border-radius: 4px;
  background-color: rgb(33, 93, 221);
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.list__button__wrap li input:hover,
.add__link:hover,
.detail__btn__wrap a:hover {
  background-color: rgb(18, 67, 173);
}

.add__link {
  text-decoration: none;
  float: right;
  text-align: center;
  line-height: 60px;
  width: 120px;
  margin-bottom: 30px;
}

.detail__list dl {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.detail__btn__wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.detail__btn__wrap a {
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  width: auto;
  padding: 20px;
  box-sizing: border-box;
}

.detail__body {
  width: 1300px;
  padding: 50px 80px;
  box-sizing: border-box;
  margin: 50px auto;
}
.detail__body h2.detail__title {
  font-size: 46px;
  color: rgb(52, 58, 64);
  margin-bottom: 46px;
  padding: 26px 0;
  border-bottom: 1px solid #999;
  background-color: rgb(242, 242, 242);
}

.comment__wrap {
  margin: 45px 0 90px;
  padding-top: 45px;
  border-top: 1px solid rgb(220, 220, 220);
}

.comment__wrap h4 {
  margin-bottom: 30px;
  font-size: 18px;
}

.comment__wrap .input__box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.comment__wrap .input__box textarea {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  padding: 20px;
  outline: none;
}
.comment__wrap .input__box input {
  width: 10%;
  height: 50px;
  margin-top: 20px;
  border: none;
  background-color: rgb(18, 184, 134);
  border-radius: 4px;
  color: white;
}
