/* modal__bg, popup*/
.list__popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.list__popup.active {
  display: block;
}
.list__popup .modal__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.list__popup .form__wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  width: 300px;
  height: 300px;
  background: white;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 10px;
}
.list__popup .form__wrap > form > input,
.list__popup .form__wrap textarea {
  width: 90%;
  margin: 0 auto;
  display: block;
  border: 1px solid #999;
  resize: none;
  outline: none;
}
.list__popup .form__wrap input {
  height: 30px;
}
.list__popup .form__wrap textarea {
  height: 100px;
  margin: 30px auto;
}
.list__popup .form__wrap .button__wrap {
  width: 90%;
  margin: 0px auto;
  text-align: right;
  display: flex;
  justify-content: space-between;
}
.list__popup .form__wrap .button__wrap span,
.list__popup .form__wrap .button__wrap input {
  display: inline-block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  width: 80px;
  border-radius: 6px;
  background: #999;
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
}
/* modal__bg, popup */

/* list__components */
main .list__components__wrap {
  width: 50%;
  margin: 0 auto;
}
main .list__components__wrap > #listWrap > .list {
  width: 100%;
  min-width: 300px;
  padding: 20px;
  box-sizing: border-box;
  background: white;
  border-radius: 10px;
  box-shadow: 0 39px 67px 3px hsl(0deg 0% 68% / 30%);
  margin-bottom: 40px;
}
main .list__components__wrap > #listWrap > .list > .list__top {
  display: flex;
  justify-content: space-between;
}
main .list__components__wrap > #listWrap > .list > .list__top dl {
  display: flex;
  align-items: baseline;
}
main .list__components__wrap > #listWrap > .list > .list__top dl dd {
  font-size: 18px;
  color: rgb(109, 109, 109);
}
main .list__components__wrap > #listWrap > .list > .list__top dl dt {
  font-size: 22px;
  color: rgb(211, 211, 211);
  font-size: 12px;
}
main .list__components__wrap > #listWrap > .list p {
  color: rgb(211, 211, 211);
  font-size: 12px;
}
main .list__components__wrap > #listWrap > .list > dl {
  padding: 20px 0;
  margin-top: 20px;
  border-top: 1px solid rgb(223, 223, 223);
}
main .list__components__wrap > #listWrap > .list > dl dt {
  font-size: 18px;
}
main .list__components__wrap > #listWrap > .list > dl dd {
  margin-top: 14px;
  color: rgb(89, 89, 89);
}
main .list__components__wrap > #listWrap > .list > .button__wrap {
  display: flex;
  justify-content: flex-end;
}
main .list__components__wrap > #listWrap > .list > .button__wrap button {
  border: none;
  color: white;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
}
main
  .list__components__wrap
  > #listWrap
  > .list
  > .button__wrap
  button:first-of-type {
  background: rgb(214, 82, 82);
}
main
  .list__components__wrap
  > #listWrap
  > .list
  > .button__wrap
  button:last-of-type {
  margin-left: 9px;
  background: rgb(60, 191, 67);
}
.list__components__wrap .list__wrap__state {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  min-width: 300px;
}
.list__components__wrap .list__wrap__state > dl {
  display: flex;
  align-items: baseline;
}
.list__components__wrap .list__wrap__state > dl dt {
  font-size: 12px;
}
.list__components__wrap .list__wrap__state > dl dd {
  font-size: 26px;
  color: rgb(30, 80, 206);
}
.list__components__wrap .list__wrap__state > button {
  background: rgb(30, 80, 206);
  border-radius: 4px;
  padding: 12px 26px;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
/* // list__components */
@media screen and (max-width: 800px) {
  main .list__components__wrap {
    width: 80%;
    margin: 0 auto;
  }
  main .list__components__wrap > #listWrap > .list {
    min-width: auto;
  }
}
